<div class="row">
    <h3 class="col-sm-8">{{titulo}}</h3>
    <div class="col-sm-4">
        <input (click)="limpiarCampos()" type="button" value="{{tituloBtnLimpiarCampos}}" id="cajonDer" class="col-sm-6 btn">
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <form [formGroup]="formUsuario" (ngSubmit)="guardarUsuario()" class="col-sm-12 jumbotron" id="form-usuario"
            novalidate>
            <div class="col-sm-4 offset-2" id="cajonIzq">
                <label>
                    <strong>Tipo de identificacion:</strong>
                    <div *ngIf="formUsuario.get('tipoIdentificacion').errors && formUsuario.get('tipoIdentificacion').dirty"
                        id="cajonDer">
                        <span *ngIf="formUsuario.get('tipoIdentificacion').hasError('required')" class="badge badge-danger">
                            El tipo de Iientificacion es obligatorio
                        </span>
                    </div>
                </label>
                <select formControlName="tipoIdentificacion" class="form-control" aria-placeholder="Seleccionar">
                    <option *ngFor="let opcion of opcionesTipoDocumento" [ngValue]="opcion">{{opcion}}</option>
                </select>
            </div>
            <div class="col-sm-4" id="cajonIzq">
                <label>
                    <strong>Número de identificación:</strong>
                    <div *ngIf="formUsuario.get('identificacion').errors && formUsuario.get('identificacion').dirty" id="cajonDer">
                        <span *ngIf="formUsuario.get('identificacion').hasError('required')" class="badge badge-danger">
                            La identificación es obligatoria
                        </span>
                        <span *ngIf="formUsuario.get('identificacion').hasError('maxlength')" class="badge badge-danger">
                            Máximo 15 caracteres.
                        </span>
                        <span *ngIf="formUsuario.get('identificacion').hasError('minlength')" class="badge badge-danger">
                            Mínimo 5 caracteres.
                        </span>
                    </div>
                </label>
                <input formControlName="identificacion" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                    type="text" class="form-control">
            </div>
            <div class="col-sm-4 offset-2" id="cajonIzq">
                <label>
                    <strong>Primer nombre:</strong>
                    <div *ngIf="formUsuario.get('primerNombre').errors && formUsuario.get('primerNombre').dirty" id="cajonDer">
                        <span *ngIf="formUsuario.get('primerNombre').hasError('required')" class="badge badge-danger">
                            El primer nombre es obligatorio
                        </span>
                        <span *ngIf="formUsuario.get('primerNombre').hasError('minlength')" class="badge badge-danger">
                            Mínimo 2 caracteres.
                        </span>
                    </div>
                </label>
                <input formControlName="primerNombre" type="text" class="form-control">
            </div>
            <div class="col-sm-4" id="cajonIzq">
                <label>
                    <strong>Segundo nombre:</strong>
                </label>
                <input formControlName="segundoNombre" type="text" class="form-control">
            </div>
            <div class="col-sm-4 offset-2" id="cajonIzq">
                <label>
                    <strong>Primer apellido:</strong>
                    <div *ngIf="formUsuario.get('primerApellido').errors && formUsuario.get('primerApellido').dirty" id="cajonDer">
                        <span *ngIf="formUsuario.get('primerApellido').hasError('required')" class="badge badge-danger">
                            El primer apellido es obligatorio
                        </span>
                        <span *ngIf="formUsuario.get('primerApellido').hasError('minlength')" class="badge badge-danger">
                            Mínimo 2 caracteres.
                        </span>
                    </div>
                </label>
                <input formControlName="primerApellido" type="text" class="form-control">
            </div>
            <div class="col-sm-4" id="cajonIzq">
                <label id="nombreCampo">
                    <strong>Segundo apellido:</strong>
                </label>
                <input formControlName="segundoApellido" type="text" class="form-control">
            </div>
            <div class="col-sm-4 offset-2" id="cajonIzq">
                <label>
                    <strong>Teléfono:</strong>
                    <div *ngIf="formUsuario.get('telefono').errors && formUsuario.get('telefono').dirty" id="cajonDer">
                        <span *ngIf="formUsuario.get('telefono').hasError('required')" class="badge badge-danger">
                            El teléfono es obligatorio
                        </span>
                        <span *ngIf="formUsuario.get('telefono').hasError('maxlength')" class="badge badge-danger">
                            Máximo 10 caracteres.
                        </span>
                        <span *ngIf="formUsuario.get('telefono').hasError('minlength')" class="badge badge-danger">
                            Mínimo 5 caracteres.
                        </span>
                    </div>
                </label>
                <input formControlName="telefono" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text"
                    class="form-control">
            </div>
            <div class="col-sm-4" id="cajonIzq">
                <label>
                    <strong>Celular:</strong>
                    <div *ngIf="formUsuario.get('celular').errors && formUsuario.get('celular').dirty" id="cajonDer">
                        <span *ngIf="formUsuario.get('celular').hasError('required')" class="badge badge-danger">
                            El celular es obligatorio
                        </span>
                        <span *ngIf="formUsuario.get('celular').hasError('maxlength')" class="badge badge-danger">
                            Máximo 12 caracteres.
                        </span>
                        <span *ngIf="formUsuario.get('celular').hasError('minlength')" class="badge badge-danger">
                            Mínimo 10 caracteres.
                        </span>
                    </div>
                </label>
                <input formControlName="celular" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text"
                    class="form-control">
            </div>
            <div class="col-sm-4 offset-2" id="cajonIzq">
                <label>
                    <strong>Correo electrónico:</strong>
                    <div *ngIf="formUsuario.get('correoElectronico').errors && formUsuario.get('correoElectronico').dirty"
                        id="cajonDer">
                        <span *ngIf="formUsuario.get('correoElectronico').hasError('required')" class="badge badge-danger">
                            El correo electrónico es obligatorio
                        </span>
                    </div>
                </label>
                <input formControlName="correoElectronico" type="text" class="form-control">
            </div>
            <div class="col-sm-4" id="cajonIzq">
                <label>
                    <strong>Dirección:</strong>
                    <div *ngIf="formUsuario.get('direccion').errors && formUsuario.get('direccion').dirty" id="cajonDer">
                        <span *ngIf="formUsuario.get('direccion').hasError('required')" class="badge badge-danger">
                            La dirección es obligatoria
                        </span>
                        <span *ngIf="formUsuario.get('direccion').hasError('minlength')" class="badge badge-danger">
                            Mínimo 5 caracteres.
                        </span>
                    </div>
                </label>
                <input formControlName="direccion" type="text" class="form-control">
            </div>
            <input type="submit" value="{{titulo}}" [disabled]="formUsuario.invalid" id="botonCrearUsuario" class="col-sm-4 offset-4 btn btn-success">
        </form>
    </div>
</div>