<h3>{{titulo}}</h3>
<hr>

<form #formUsuario="ngForm" (ngSubmit)="guardarUsuario()" class="col-lg-6" id="form-usuario">
    <label>
        Primer nombre
        <span *ngIf="!primerNombre.valid && primerNombre.touched" class="badge badge-danger">
            El primer nombre es obligatorio
        </span>
    </label>
    <input type="text" #primerNombre="ngModel" name="primerNombre" 
        [(ngModel)]="usuarioC.primerNombre" class="form-control col-lg-6" required>

    <label>
        Segundo nombre
        <span *ngIf="!segundoNombre.valid && segundoNombre.touched" class="badge badge-danger">
            El segundo nombre es obligatorio
        </span>
    </label>
    <input type="text" #segundoNombre="ngModel" name="segundoNombre" 
        [(ngModel)]="usuarioC.segundoNombre" class="form-control col-lg-6" required>

    <label>
        Primer apellido
        <span *ngIf="!primerApellido.valid && primerApellido.touched" class="badge badge-danger">
            El primer apellido es obligatorio
        </span>
    </label>
    <input type="text" #primerApellido="ngModel" name="primerApellido"
        [(ngModel)]="usuarioC.primerApellido" class="form-control col-lg-6" required>

    <label>
        Segundo apellido
        <span *ngIf="!segundoApellido.valid && segundoApellido.touched" class="badge badge-danger">
            El segundo apellido es obligatorio
        </span>
    </label>
    <input type="text" #segundoApellido="ngModel" name="segundoApellido" 
        [(ngModel)]="usuarioC.segundoApellido" class="form-control col-lg-6" required>

    <label>
        Correo
        <span *ngIf="!correoElectronico.valid && correoElectronico.touched" class="badge badge-danger">
            El correo es obligatorio
        </span>
    </label>
    <input type="text" #correoElectronico="ngModel" name="correoElectronico" 
        [(ngModel)]="usuarioC.correoElectronico" class="form-control col-lg-6" required>

    <label>
        Clave
        <span *ngIf="!clave.valid && clave.touched" class="badge badge-danger">
            La clave es obligatoria
        </span>
    </label>
    <input type="text" #clave="ngModel" name="clave" 
        [(ngModel)]="usuarioC.clave" class="form-control col-lg-6" required>

    <br>
    <input type="submit" value="{{labelBoton}}" [disabled]="!formUsuario.form.valid" class="btn btn-success">
</form>

<br>

<div *ngIf="listaUsuarios">
    <ul>
        <li *ngFor="let usuario of listaUsuarios">
            Tipo de documento: <strong>{{usuario.idTipoDocumento}}</strong>
            <br>
            Número de documento: <strong>{{usuario.numeroDocumento}}</strong>
            <br>
            Nombre: <strong>{{usuario.primerNombre}} {{usuario.segundoNombre}}
                {{usuario.primerApellido}} {{usuario.segundoApellido}}</strong>
        </li>
    </ul>
</div>

<div *ngIf="!listaUsuarios">
    Cargando lista de usuarios.
</div>