<div class="row">
    <h3 class="col-sm-8">{{titulo}}</h3>
    <div class="col-sm-4">
        <input class="col-sm-6 btn" type="button" data-toggle="collapse" data-target="#collapseExample" value="Filtros"
            id="cajonDer">
    </div>
</div>
<div class="collapse" id="collapseExample">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="formFiltros" class="col-sm-12 jumbotron" id="form-filtros" novalidate>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Desde:</label>
                    <div class="input-group">
                        <input formControlName="desde" class="form-control" placeholder="aaaa-mm-dd" ngbDatepicker #d1="ngbDatepicker"
                            (click)="d1.toggle()">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Hasta:</label>
                    <div class="input-group">
                        <input formControlName="hasta" class="form-control" placeholder="aaaa-mm-dd" ngbDatepicker #d2="ngbDatepicker"
                            (click)="d2.toggle()">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Identificación:</label>
                    <div class="input-group">
                        <input formControlName="identificacion" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Nombre:</label>
                    <div class="input-group">
                        <input formControlName="nombre" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Correo electrónico:</label>
                    <div class="input-group">
                        <input formControlName="correoElectronico" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Teléfono:</label>
                    <div class="input-group">
                        <input formControlName="telefono" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Celular:</label>
                    <div class="input-group">
                        <input formControlName="celular" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Dirección:</label>
                    <div class="input-group">
                        <input formControlName="direccion" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonIzqFiltro">
                    <label>Estado:</label>
                    <div class="input-group">
                        <input formControlName="estado" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonDerFiltro">
                    <label></label>
                    <div class="input-group">
                        <input type="submit" (click)="limpiarFiltros()" value="Limpiar" id="botonFiltro" class="form-control btn">
                    </div>
                </div>
                <div class="col-sm-2" id="cajonDerFiltro">
                    <label></label>
                    <div class="input-group">
                        <input type="submit" (click)="obtenerUsuarios()" value="Filtrar" id="botonFiltro" class="form-control btn btn-pill btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<table class="table table-hover">
    <thead id="encabezado">
        <tr>
            <th>Fecha de creación</th>
            <th>Tipo de identificación</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody *ngIf="listaUsuarios">
        <tr *ngFor="let usuario of listaUsuarios">
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.createdAt | date }}
            </td>
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.tipoIdentificacion }}
            </td>
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.identificacion }}
            </td>
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.primerNombre }} {{ usuario.segundoNombre }}
                {{ usuario.primerApellido }} {{ usuario.segundoApellido }}
            </td>
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.correoElectronico }}
            </td>
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.telefono }}
            </td>
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.celular }}
            </td>
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.direccion }}
            </td>
            <td (click)="usuario.estado === 'Activo' ? detalleUsuario( usuario.id ) : null" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}">
                {{ usuario.estado }}
            </td>
            <td *ngIf="usuario.estado === 'Activo'" (click)="asignarIdUsuario( usuario.id )" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@mdo">
                <span class="oi oi-trash" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" title="trash"
                    aria-hidden="true">
                </span>
            </td>
            <td *ngIf="usuario.estado === 'Inactivo'" [ngClass]="{'eliminado' : usuario.estado === 'Inactivo'}"></td>
        </tr>
    </tbody>
    <tbody *ngIf="!listaUsuarios">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>No hay usuarios</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<ngb-pagination class="d-flex justify-content-center" [collectionSize]="paginas" [pageSize]="10" [maxSize]="3" [(page)]="pagina"
    aria-label="Default pagination" (pageChange)="cambiarPagina($event)"></ngb-pagination>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Confirmación</h3>
            </div>
            <div class="modal-body row">
                <form>
                    <div class="form-group col-sm-12 offset-3">
                        <span for="recipient-name">
                            <h4> ¿Desea eliminar el registro? </h4>
                        </span>
                        <p>Ésta acción no se puede deshacer.</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminarUsuario()">Aceptar</button>
            </div>
        </div>
    </div>
</div>