<div id="content" class="col-lg-12">
  <header id="header" class="col-lg-12">
    <h1>{{title}}</h1>
  </header>

  <nav id="nav" class="col-lg-12">
    <ul>
      <li><a [routerLink]="['vehiculos']" [routerLinkActive]="['activado']">Vehiculos</a></li>
      <li><a [routerLink]="['usuario']" [routerLinkActive]="['activado']">Usuarios</a></li>
    </ul>
  </nav>
  <br>
  <section id="main" class="col-lg-12">
    <router-outlet></router-outlet>
  </section>
  
  <footer id="footer" class="col-lg-12">
      <p>Sistema para control de vehículos en MotoShop San Rafael</p>
  </footer>
</div>  