<div id="content" class="col-lg-12">
  <header id="header" class="col-lg-12">
    <h1>{{title}}</h1>
  </header>

  <nav id="nav" class="col-lg-12">
    <ul>
      <li><a [routerLink]="['vehiculo-lista']" [routerLinkActive]="['activado']">Lista de vehículos</a></li>
      <li><a [routerLink]="['vehiculo-crear']" [routerLinkActive]="['activado']">Vehículo</a></li>
      <li><a [routerLink]="['usuario-lista']" [routerLinkActive]="['activado']">Lista de usuarios</a></li>
      <li><a [routerLink]="['usuario-crear']" [routerLinkActive]="['activado']">Usuario</a></li>
    </ul>
  </nav>
  <br>
  <section id="main" class="col-lg-12">
    <lib-ngx-notification></lib-ngx-notification>
    <router-outlet></router-outlet>
  </section>
  
  <footer id="footer" class="col-lg-12">
      <p>Sistema para el control de vehículos de MotoShop San Rafael</p>
  </footer>
</div>  